nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    padding: 2rem 3rem;
    z-index: 99;
    // background-color: var(--boja1);
    background-color: transparent;

    .hidden {
        display: none;
    }

    .logo {
        color: var(--boja2);
        font-family: var(--font2);
        color: var(--txt1);

        flex: 2;

        img {
            width: 50px;
        }

        a {
            text-decoration: none;
            color: var(--bela3);
        }
    }

    .menu-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: 2rem;

        flex: 3;

        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;

            li {
                list-style-type: none;
                
    
                a {
                    text-decoration: none;
                    color: var(--txt1);
                    font-family: var(--font2);
                    
                    // padding-right: 2rem;

                    &:hover {
                        color: #df9e9e;
                    }
                }
            }
        }

        .social {
            display: flex;
            gap: 2rem;
            
            a {
                color: white;
                font-size: 2.1rem;
                
            }
        }
        
        
    }


    @media screen and (max-width: 620px) {
        
        padding: 0.7rem 1rem;

        .logo {

            img {
                width: 30px;
            }
        }
        
        .menu-items {
            position: fixed;
            right: -100%;
            top: 0;
            width: 85vw;
            height: 100vh;
            background-color: var(--bg4);
            transition: all 0.6s ease;
            padding-top: 6rem;

            align-items: inherit;
            // text-align: left;

            gap: 2rem;

            flex-direction: column;
            justify-content: start;
            
            .links {
                flex-direction: column;
                // justify-content: flex-start;
                gap: 2rem;

                


                li {
                    // border-bottom: 1px solid #eeeeee;

                    font-size: 1.5rem;
                }
            }
        }

        .active {
            right: 0;

            &.bar {

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(1) {
                    transform: translateY(15px) rotate(45deg);
                    background-color: aqua;
                }

                &:nth-child(3) {
                    transform: translateY(1px) rotate(-45deg);
                    background-color: aqua;
                }
            }
        }

        .hamburger {
            display: block;
            z-index: 999;

            .bar {
                width: 2.4rem;
                height: 0.05rem;
                background-color: white;
                display: block;
                margin: 6px 0;
                transition: all 0.6s ease;
            }

        }

    }
    
}




// nav {
//     padding: 2rem 3rem;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     .nav-logo {

//         img {
//             width: 50px;
//         }
//     }

//     .menu-bars {
//         width: 40px;
//         height: 30px;
//         // border: 1px solid red;

//         display: none;

//         .bar {
//             // width: 100%;
//             display: flex;
//             justify-content: center;
//             height: 1px;
//             background-color: white;
//             margin: 6px;
//             display: block;
//         }
//     }

//     .links {
        
//         ul {
//             list-style-type: none;
//             display: flex;
//             gap: 20px;

//             li {

//                 a {
//                     text-decoration: none;
//                     color: white;
//                     font-family: var(--font2);
//                 }
//             }

//         }
//     }

//     .socijalne-mreze {
        
//         a {
//             color: white;
//             font-size: 2.1rem;
//         }
//     }




// @media (max-width: 768px) {
//     padding: 1rem 1.3rem;

//     .nav-logo {

//         img {
//             width: 30px;
//         }
//     }

//     .menu-bars {
//         display: block;
//     }

//     .links {
//     //   display: none;
//         ul {
//             position: fixed;
//             right: -100%;
//             top: 0;
//             flex-direction: column;
//             width: 85vw;
//             height: 100vh;
//             background-color: var(--teget3);
//             transition: all 0.6s ease;
//             padding-top: 6rem;

//         }
//     }

//     .active {
//         right: 0;

//         &.bar {

//             &:nth-child(2) {
//                 opacity: 0;
//             }

//             &:nth-child(1) {
//                 transform: translateY(15px) rotate(45deg);
//                 background-color: aqua;
//             }

//             &:nth-child(3) {
//                 transform: translateY(1px) rotate(-45deg);
//                 background-color: aqua;
//             }
//         }
//     }

//     .socijalne-mreze {
//         // display: none;
//     }
//   }

  
// }


// .sakrij {
//     display: none;
// }