
nav {
    
    .logo {
        display: flex;
        align-items: center;

        .logo1 {
            width: 80px;
        }
        .ime {
            font-size: 3rem;
            font-family: var(--font3);
            color: var(--txt4)
        }
    }

    .linkovi{
        padding-left: 30px;

        ul {
            list-style-type: none;
            display: flex;
            gap: 20px;

            li {

                a {
                    text-decoration: none;
                    color: var(--txt10);
                    font-family: var(--font3);
                    // font-weight: bold;
                    letter-spacing: 1px;
                    transition: all 0.7s ease;

                    &:hover {
                        cursor: pointer;
                        color: var(--txt4);
                        border-bottom: 2px solid var(--txt4);

                    }
                }
            }
        }
    }
}